.all-series-container {
  display: flex;
  padding: 2rem;
  flex-direction: column;

  &__grid {
    display: grid;
    gap: 15px 12px;
    grid-template-columns: auto auto auto;
  }

  &-error {
    color: #980e0e;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
  }
}

@media (max-width: 780px) {
  .all-series-container__grid {
    display: flex;
    gap: 25px 10px;
    flex-direction: column;
  }
}
