.body-container {
  position: absolute;
  width: 100%;
  height: 100%;

  &__div-latest-img {
    display: flex;
    align-items: flex-end;

    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #2E51A2;
  }

  &__div-latest-text {
    h2 {
      padding-right: 2rem;
    }
    display: flex;
    align-items: flex-end;
    color: #2E51A2;
    font-weight: bold;
    font-size: 2rem;
  }
}
